.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  background-color: white;
  top :0 ;
  z-index: 100; 
}

.header_logo {
  height: 65px;
  object-fit: contain;
  margin-left: 20px;
}

.header_input {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid lightgrey;
}
.header_icon {
  margin-right: 15px;
}
.header_icons {
  display: flex;
  align-items: center;
}

.header_inputButton {
  width: 50px !important;
  background-color: #fafafa;
  border-left: 1px solid lightgray;
}

.header_input > input {
  flex: 1;
  border: none;
}
