.recommendedVideos {
    flex: 1;
    width: 100%;
    background-color: whitesmoke;
    padding: 1%;
}

.recommendedVideos >h2 {
    margin-left: 5px;
    margin-bottom: 20px;
}

.recommendedVideos_video {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
