.videoPlayer {
    display: flex;
    position: relative;
    padding-left: 2vw;
    width: 100%;
    /* margin-top: 20px; */
}
.videoPlayer_list {
    width: 30vw;
    height: 190vh;
    padding: 1%;
}